/* ~\~ language=CSS filename=docs/css/code-examples.css */
/* ~\~ begin <<lit/doctheme.md|docs/css/code-examples.css>>[0] */
@import url('https://fonts.googleapis.com/css?family=Niramit:300,300i&display=swap');

body {
    background: white;
    font-size: 12pt;
}

main {
    background: white;
}

#title-bar {
    font-family: "Niramit", sans-serif;
    text-align: center;
    background: #303030;
    padding: 20pt 0 30pt 0;
}

#title {
    color: #00aeef;
    font-size: 42pt;
    font-weight: 600;
}

#subtitle {
    color: white;
    font-style: italic;
}

.navbar-brand {
    font-weight: bold;
}

#logobar {
    margin-top: 10pt;
}

nav a {
    margin-left: 2em;
}

nav ul {
    margin-bottom: 0;
}

nav ul li {
    white-space: nowrap;
    display: inline;
}

.given-input pre.sourceCode {
    border: none;
}

.given-input div.sourceCode {
    box-shadow: none;
}

blockquote {
    border-left: 5pt solid #ddd;
    margin: 25pt 30pt 40pt 30pt;
    max-width: 35em;
    text-align: justify;
}
blockquote a {
    display: flex;
    float: right;
    justify-content: space-between;
}

.phonetic {
    font-family: serif;
}

#synopsis {
   line-height: 2;
}

h4:before {
    content: "• •";
    margin-right: 20pt;
}

h4 {
    background: #00aeef;
    color: white;
    text-shadow: 0.4px 0.4px 1px black;
    margin: 0 10pt;
    padding: 4pt 0 6pt 10pt;
    border-radius: 8pt 8pt 0pt 0pt;
}

.example {
  padding: 0px;
  overflow: hidden;
  margin: 0 10pt 0pt 10pt;
  background-color: #f1f1f1;
} 

.example figcaption {
    display: none;
}

.example figure {
    flex: 0 0 40%;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

.example .given-input {
    padding: 0pt;
    margin: 0pt;
    background: #303030;
}
.example p {
    margin: 15pt 10pt;
    text-align: justify;
}

.example .given-input div.sourceCode {
    margin: 0pt;
    width: 95%;
    padding: 10pt 5pt;
    border: none;
    border-radius: 0pt;
    font-size: 12pt;
    overflow: hidden;
} 

.example .generated-output {
    margin: 0pt;
    padding: 0pt 10pt 15pt 10pt;
}

.example .generated-output p {
    margin: 15pt 0pt;
}

.example .generated-output .annotated-code p {
    margin-bottom: 2pt;
}

.example .generated-output div.sourceCode {
    width: 27em;
    margin: 0;
    margin-left: 10pt;
}


@media only screen and (min-width: 768px) {
    body {
        background: white !important;
        font-size: 14pt;
    }

    #logobar {
        margin-top: 0;
    }

    #title {
        font-size: 60pt
    }

    #title-bar {
        padding: 30pt 0 65pt 0;
    }

    .example {
    display: flex;
    margin: 0 10pt 50pt 10pt;
    }

    .example .given-input {
    flex: 1;
    }
    .example .generated-output {
    flex: 1;
    }

    blockquote p {
        width: 100%;
    }

    .card-text p {
        width: 100%;
    }

    #synopsis {
        padding: 2em 0 2em 0;
    }

    #synopsis ul {
        width: 100%;
    }

    ul {
        width: 70%;
    }

    p {
        width: 70%;
        text-align: justify;
    }
    .card-deck {
        width: 75%;
    }
}
/* ~\~ end */
